*.*~
*.o
*.a
*.tch
*.user
Makefile.in
autom4te.cache/
Makefile
.deps

aclocal.m4
config.log
config.status
config/config.h
config/stamp-h1
configure
sphinx-min.conf.dist
sphinx.conf.dist


src/indexer
src/indextool
src/search
src/searchd
src/spelldump
src/sphinxversion.h
src/tests

#end of file
